# Ignore virtual environment
venv/
.venv/

# Ignore Python cache and bytecode
**/__pycache__/
*.pyc
*.pyo
*.pyd

# Ignore local database files
*.sqlite3
db.sqlite3

# Ignore IDE settings and configurations
.vscode/
.idea/
.git/
.gitignore
.dockerignore
